<div class="limitter">
  <div class="container-login">

    <mat-card>
      <p>Hi there!  </p>
      <p>Welcome to <span class="brand-name">Shortify</span>. Please login first to use our url shortening service  </p>
        
      
      <mat-card-content>
            <form class="form-container"  [formGroup]="authLoginForm" novalidate (ngSubmit)="onSubmit()">
              
                   
              <mat-form-field color="accent" >
                <input matInput placeholder="Email"   formControlName = "emailId">
                <mat-error *ngIf="authLoginForm.controls.emailId.invalid">Email is invalid</mat-error>
              </mat-form-field>
              <mat-form-field color="accent" >
                <input matInput placeholder="Password"   formControlName = "pwd">
                <mat-error *ngIf="authLoginForm.controls.pwd.invalid">Password is invalid</mat-error>
              </mat-form-field>
              <div class="wrapper">
                <button mat-raised-button [disabled]="!authLoginForm.valid" type="submit" color="accent">Login</button>
                <button mat-button class="link-button">Forgot password?</button>    
              </div>
            
            </form>
            <button mat-button class="link-button2" [routerLink]="['/signup']">Dont have an account? Click me</button>
            
            
        
      </mat-card-content>
    </mat-card>
  </div>

</div>