<div class="limitter">
  <div class="container-login">

    <mat-card>
     
      <p>Password Reset Link will be sent to your email if your are a registered user  </p>
        
      <div *ngIf="isloading" class="mat-elevation-z8">
        <div class="loading-shade">
          <mat-spinner color="accent" ></mat-spinner>
        </div>
      </div>
      <mat-card-content>
            <form class="form-container"  [formGroup]="passwordResetEmailForm" novalidate (ngSubmit)="onSubmit()">
              
                   
              <mat-form-field color="accent" >
                <input matInput placeholder="Email"   formControlName = "emailId">
                <mat-error *ngIf="passwordResetEmailForm.controls.emailId.invalid">Email is invalid</mat-error>
              </mat-form-field>
              
              <div class="wrapper">
                <button mat-raised-button [disabled]="!passwordResetEmailForm.valid" type="submit" color="accent">Login</button> 
              </div>
            
            </form>
             
        
      </mat-card-content>
    </mat-card>
  </div>

</div>